/*eu sou um comentário*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

li {
    list-style: none
}

body{
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
}
.header-menu{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 60px;
    background-color: #A4BF88;

}

.header-menu nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.lista-menu li>a {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-decoration: inherit;
}

.principal{
    height: 100vh;
    display: flex;
    background-color: #eaeaea;
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.subcontainer-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nome-completo{
    font-size: 36px;
    color: #A66388;
    font-weight: 700;
    height: 45px;
}

.profissao{
    font-size: 20px;
    line-height: 32px;
    color: #C6B5D5;
}

.sobre-mim{
    font-size: 18px;
}

.article-lista{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.topico-principal{
    font-size: 36px;
    color: #A66B49;
}

.lista-item{
    padding: 32px;
}

.lista-item ul li{
    margin-bottom: 32px;
}

.lista-titulo{
    margin-bottom: 5px;
    font-size: 22px;
    color: #661e4b;
    font-weight: 700;
}

.lista-local{
    font-size: 18px;
    color: #2F80ED;
}

.lista-descricao{
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #828282;
    font-weight: 300;
}

.wrapper-portfolio{
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

.subtitulo-lista{
    font-size: 18px;
    color: #828282;
    font-weight: 500;
}

.footer{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 100px;
    background-color: #A66388;
}

.estilo-icon{
    margin-right: 10px;
    font-size: 32px;

}

.lista-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    font-size: 18px;
    font-weight: 200;
    padding-top: 32px;
    padding-bottom: 32px;
}